html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#mapa {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.cluster-circulo {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.leyenda-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

/* Estilos para leyendas */
.info-leyenda {
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-width: 150px;
    max-height: none;  /* Cambiar de 300px a none */
    overflow-y: visible;  /* Cambiar de auto a visible */
}

.info-leyenda h4 {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.info-leyenda div {
    display: flex;
    align-items: center;
    margin: 3px 0;
    font-size: 12px;
}

.info-leyenda span {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid #999;
    flex-shrink: 0;
}




/* Quitar scroll del layer control */
.leaflet-control-layers {
    overflow: visible !important;
    max-height: none !important;
}

.leaflet-control-layers-list {
    overflow: visible !important;
    max-height: none !important;
}



/* Asegurar que la atribución sea visible */
.leaflet-control-attribution {
    padding: 2px 8px !important;
    border-radius: 4px !important;
    font-size: 10px !important;
    z-index: 1001 !important; /* Mayor que el panel de filtros (1000) */
}

/* En móviles, ajustar solo la atribución */
@media (max-width: 480px) {
    .leaflet-control-attribution {
        position: absolute !important;
        bottom: 55px !important;
        right: 150px !important;
        font-size: 7px !important;
        padding: 4px 8px !important;
        max-width: 100% !important;
        white-space: nowrap !important;
        z-index: 2000 !important;
    }

    .leaflet-control-scale {
        position: absolute !important;
        bottom: 680px !important;
        left: 5px !important;
        padding: 2px 8px !important;
        background: rgba(255, 255, 255, 0.85) !important;
        border-radius: 4px !important;
        z-index: 1000 !important;
    }

    .info-leyenda {
    background: white;
    padding: 4px 15px;
    bottom: 80px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-width: 150px;
    max-height: none;  /* Cambiar de 300px a none */
    overflow-y: visible;  /* Cambiar de auto a visible */
}
}